
.section-header::before{
    background-image: url("images/section-img2.jpg");
}

.about-us-content{
    text-align: justify;
    font-family: 'Philosopher', sans-serif;
    line-height: 30px;
    font-size: 1.15rem;
}

.about-header{
    font-family: 'Bilbo Swash Caps', cursive;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

.qoute{
    font-family: 'Dancing Script', cursive;
}

