.section-header::before{
    background-image: url("images/blog2.jpg");
}

.overline{
    isolation: isolate;
    border-bottom: none !important; 
    padding-bottom: none !important;
    border-top: none !important;
    padding-top: none !important;
}