.section-header::before{
    background-image: url("images/section-img3.jpg");
}


.blog-headline{
    font-family: 'Philosopher', sans-serif;
}

.blog-content{
    text-align: justify;
}

.btn:hover{
    transform: scale(1.01);
}


.blog-header {
    margin-top: 20px;
    position: relative;
    width: 100%;
    min-height: 70vh;
    max-height: 70vh;
    margin: auto;
  }

  .blog-article{
    font-family: 'Poppins', sans-serif;
  }

  .blog-text{
    text-align: justify;
  }

@media only screen and (max-width: 576px){

    .blog-intro{
        padding: 0 30px 0 40px;
    }

}
